@import 'checkbox';

.form-component {
    display: inline-flex;
    margin: var(--margin-component);

    .form-component-group {
        &__label {
            &[readonly] {
                pointer-events: none;
            }

            display: inline-flex;
            cursor: pointer;
            position: relative;

            &--disabled {
                color: var(--color-gray-dark);
            }
        }

        .form-input {
            &__textBox {
                padding: var(--padding-component);
                border: 1px solid var(--color-gray);
                border-radius: var(--border-radius-component);
                outline: 0;

                &:focus {
                    border: 1px solid var(--color-blue);
                    box-shadow: 0 0 0 1px var(--color-blue-light);
                }

                &:hover:not(:disabled) {
                    border: 1px solid var(--color-gray-dark);
                }

                &:disabled {
                    color: var(--color-gray-dark);
                    background-color: var(--color-gray-light);
                }

                &::placeholder {
                    color: var(--color-gray-dark);
                }
            }

            &__group {
                display: flex;
                justify-content: space-between;
            }

            &__counter {
                float: right;

                span {
                    font-size: .75rem;
                    color: var(--color-gray-dark);
                }
            }

            &__validation {
                span {
                    font-size: .75rem;
                    color: var(--color-red);
                }
            }
        }
    }
}
