@inherits LayoutComponentBase

<div class="main">

    <GNavbar Sticky="true">
        <GNavLogo Url="./">Gumiho UI</GNavLogo>
        <GNavItem Url="./">Home</GNavItem>
        <GNavItem Url="./#forms">Forms</GNavItem>
        <GNavItem Url="#buttons">Buttons</GNavItem>
        <GNavItem Url="/typography">Typography</GNavItem>
    </GNavbar>

    @Body
</div>
