@namespace GumihoUI

<nav class="navbar-item-group @cssClasses">
    @ChildContent
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssClass { get; set; } = string.Empty;
    [Parameter] public string? Position { get; set; } = string.Empty;

    private string cssClasses { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        cssClasses = CssClass;
        cssClasses += $" {Position}";
    }

}
