.g-button {
    outline: 0;
    color: var(--color-white);
    padding: var(--padding-component) calc(var(--padding-component) * 2);
    border-radius: var(--border-radius-component);

    $colors: blue, red, orange, green, gray;

    @each $color in $colors {
        &--#{$color} {
            background-color: var(--color-#{$color});
            border: 1px solid var(--color-#{$color});

            &:focus, &:hover {
                box-shadow: 0 0 0 1px var(--color-#{$color}-light);
                background-color: var(--color-#{$color}-light);
            }
        }
    }

    &--white {
        color: black;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-dark);

        &:focus, &:hover {
            box-shadow: 0 0 0 1px var(--color-gray-light);
            background-color: var(--color-white-light);
        }
    }

    &--disabled {
        color: var(--color-gray-dark);
        background-color: var(--color-gray-light);
        border: 1px solid var(--color-gray);
    }

    &--round {
        padding: var(--padding-component);
        border-radius: 50%;
    }

    &--fullwidth {
        box-sizing: border-box;
        width: 100%;
    }
}
