.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--grid-gutter);

    &.fit {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }

    .column {
        padding: var(--grid-gutter);
    }

    @for $i from 1 through 12 {
        .column-#{$i} {
            grid-column: span #{$i};
        }
    }

    @media (min-width: $breakpoint-sm) {
        @for $i from 1 through 12 {
            .column-medium-#{$i} {
                grid-column: span #{$i};
            }
        }
    }

    @media (min-width: $breakpoint-md) {
        max-width: $breakpoint-md;
        margin: 0 auto;

        @for $i from 1 through 12 {
            .column-large-#{$i} {
                grid-column: span #{$i};
            }
        }
    }
}
