body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

    h {
        &1 {
            font-size: 5rem;
            font-weight: 300;
            line-height: 7rem;
        }

        &2 {
            font-size: 4rem;
            font-weight: 300;
            line-height: 5.5rem;
        }

        &3 {
            font-size: 3.5rem;
            line-height: 4.5rem;
        }

        &4 {
            font-size: 3rem;
            line-height: 4rem;
        }

        &5 {
            font-size: 2rem;
            line-height: 2.5rem;
        }

        &6 {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
}
