@page "/"

<h1>Input</h1>
<GRow>
    <GColumn>
        <EditForm Model="M">
            <DataAnnotationsValidator />
            <GRow>
                <GColumn ColumnsSpan="2">
                    <label>First Name</label>
                    <GTextBox @bind-Value="@M.FirstName" MaxLength="5" Placeholder="First name" Counter="true"></GTextBox>
                </GColumn>

                <GColumn ColumnsSpan="2">
                    <label>Middle Name</label>
                    <GTextBox @bind-Value="@M.MiddleName" Disabled="true"></GTextBox>
                </GColumn>

                <GColumn ColumnsSpan="1">
                    <label>Last Name</label>
                    <GTextBox @bind-Value="@M.LastName" Validatable="false"></GTextBox>
                </GColumn>
            </GRow>

            <GRow>
                <GColumn>
                    <input type="submit" value="Submit" />
                </GColumn>
            </GRow>
        </EditForm>
    </GColumn>
</GRow>

@code {
    public class DataModel
    {
        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string FirstName { get; set; }

        [StringLength(maximumLength: 10, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        public string MiddleName { get; set; } = "John";

        [StringLength(maximumLength: 5, MinimumLength = 3, ErrorMessage = "Incorrect lenght")]
        [Required]
        public string LastName { get; set; }
    }

    public DataModel M { get; set; } = new DataModel();
}
