// ==============================
// SASS variables
// ==============================
$breakpoint-sm: 43rem;
$breakpoint-md: 62rem;
$breakpoint-lg: 82rem;

:root {
    // ==============================
    // CSS variables
    // ==============================
    --border-radius-component: 4px;
    --margin-component: .55rem;
    --grid-gutter: .25rem;
    // ==============================
    // Colors
    // ==============================
    --color-white: #fffff0;
    --color-white-dark: #fefefa;
    --color-white-light: #fff;
    --color-green: #039a07;
    --color-green-dark: #016905;
    --color-green-light: #20b826;
    --color-red: #d30101;
    --color-red-dark: #a81212;
    --color-red-light: #df3737;
    --color-blue: #058ae2;
    --color-blue-dark: #005d9b;
    --color-blue-light: #3ba7ee;
    --color-orange: #f58b00;
    --color-orange-dark: #e96913;
    --color-orange-light: #fca637;
    --color-gray: #b4b4b4;
    --color-gray-dark: #747474;
    --color-gray-light: #cfcfcf;
}
